body {
  background-color: lightgrey;
  font-family: 'IBM Plex Mono', monospace;
}

.container{
  position: relative;
  margin: auto;
  margin-top: 100px;
  display: block;
  width: 800px;
  height: 620px;
}

.typewriter{
  position: absolute;
  top: 11.5%; /*(100 - height) / 2*/
  left: 10%; /*(100 - width) / 2*/
  height: 77%;
  width: 80%;
  background-color: black;
}

.topFill{
  position: absolute;
  width: 9%;
  height: 15%;
  background-color: black;
  border-radius: 2px;
}

#leftFiller{
  top:0;
  left:-9%;
}

#rightFiller{
  top:0;
  left: 100%;
}

.typewriter-body-top{
  position: absolute;
  width: 100%;
  height: 0;
  border-top: 110px solid #333333;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
  top: 15%;
  left: -8.5%;
}

.platen{
  position: absolute;
  width: 120%;
  height: 15%;
  top: 0%;
  left:15%;
  background: rgb(129,131,131);
background: -moz-linear-gradient(0deg, rgba(129,131,131,1) 0%, rgba(4,3,0,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(129,131,131,1) 0%, rgba(4,3,0,1) 100%);
background: linear-gradient(0deg, rgba(129,131,131,1) 0%, rgba(4,3,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#818383",endColorstr="#040300",GradientType=1);
  transition: .1s;
}

.paper{
  position: absolute;
  width: 70%;
  height: 90%;
  top: 10%;
  left: 15%;
  background-color: white;
  border: 1px solid black;
  border-bottom: none;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  transition: .2s;
}

.text{
  position:absolute;
  max-width: 70%;
  max-height: 20px;
  left: 15%;
  font-size: 12px;
  letter-spacing: 1px;
  white-space: pre;
  overflow: hidden;
}

#text1{
  top: 40px;
}

.nextPaper{
  position: absolute;
  width: 70%;
  height: 198%;
  top: -200%;
  left: 15%;
  background-color: #F8F8F8;
  border: 1px solid black;
  border-bottom: none;
  transition: .5s;
}

.left-dial{
  position: absolute;
  width:10%;
  height: 100%;
  top: 0%;
  left: -2%;
  background-color: #808080;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
}

.right-dial{
  position: absolute;
  width: 10%;
  height: 100%;
  top: 0%;
  left: 92%;
  background-color: #808080;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
}

.typebars{
  position: absolute;
  width:60%;
  height: 20%;
  top: 15%;
  left: 20%;
  border-radius: 0 0 50% 50%;
  background-color: black;
}

.lever{
  position: absolute;
  height: 55%;
  width: 3%;
  background-color: #808080;
  top: 1%;
  left: 1%;
  transform: rotate(75deg);
  transform-origin: 30% 50%;
  transition: 1s;
}

.pressLever{
  transform: rotate(55deg);
  transform-origin: 10% 62%;
  transition: 1s;
}

.handle{
  position: absolute;
  top: 100%;
  left: 0%;
  height:15%;
  width:250%;
  background-color: #2d2d2d;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.sight{
  position: absolute;
  width: 20%;
  height: 25%;
  top: -5%;
  left: 40%;
  border-radius: 0 0 50% 50%;
  background-color: black;
  z-index: 2
}

.sightLines{
  position: absolute;
  width: 15%;
  height: 70%;
  top: -70%;
  background-color: black;
}

#sightLinesLeft{
  left: 20%;
}
#sightLinesRight{
  left: 65%;
}

.line{
  position: absolute;
  transform-origin: right;
  border-top:5px solid #808080;
  top: 0%;
  width: 50%;
}

#line1{
  transform: rotate(-45deg);
}

#line2{
  transform: rotate(225deg);
}

#line3{
  transform: rotate(270deg);
}

#line4{
  transform: rotate(245deg);
}

#line5{
  transform: rotate(295deg);
}

.typewriter-body-bottom{
  position: absolute;
  width: 95%;
  height: 57.5%;
  top: 40%;
  left: 2.5%;
  background: #4c4c4c; /* Old browsers */
  background: -moz-linear-gradient(left, #000000 0%, #666666 12%, #666666 12%, #595959 23%, #000000 50%, #474747 75%, #2c2c2c 85%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #000000 0%,#666666 12%,#666666 12%,#595959 23%,#000000 50%,#474747 75%,#2c2c2c 85%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #000000 0%,#666666 12%,#666666 12%,#595959 23%,#000000 50%,#474747 75%,#2c2c2c 85%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#131313',GradientType=1 ); /* IE6-9 */
}

.keyboard{
  position: absolute;
  width: 90%;
  height: 75%;
  top: 20%;
  left: 5%;
  background: black;
  border-radius: 15px;
}

.key{
  position: absolute;
  height: 15%;
  width: 8%;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #f2f2f2;
  transition: top .3s ease-in-out;
  text-align: center;
  line-height: 30px;
  color: black;
}

.key-stem{
  position: absolute;
  top: 105%;
  left: 42.5%;
  height: 65%;
  width: 15%;
  background-color: #808080;
  border: 1px solid black;
  border-top: none;

}

.double-stem{
  position: absolute;
  top:100%;
  width: 3%;
  height: 25%;
  background-color: orange;
}

.left{
  left: 13%
}
.right{
  left: 83%;
}

#space{
  border-radius: 5%;
}
